{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Form</title>
</head>

<body class="container">
<!-- contents: name, organisation name, employee id num, mobile num, email, id card, 'food id?',save registration id-->
<div class="section no-pad-bot" id="index-banner form">
    <div class="container row">
        <h2 class="form-head header center-align">Register</h2>
    </div>
</div>
<div class="row ">
    <form method="POST" class="col l8 offset-l2 s10 offset-s1" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <!-- <input id="username" type="text" class="validate"> -->
                {{ form.username }}
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <!-- <input id="first_name" type="text" class="validate"> -->
                {{ form.first_name }}
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <!-- <input id="last_name" type="text" class="validate"> -->
                {{ form.last_name }}
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <!-- <input id="email" type="email" class="validate"> -->
                {{ form.email }}
                <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <!-- <input id="password1" type="password" class="validate"> -->
                {{ form.password1 }}
                <label for="password1">Password</label>
            </div>
            <div class="input-field col s6">
                <!-- <input id="password2" type="password" class="validate"> -->
                {{ form.password2 }}
                <label for="password2">Confirm Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <!-- <input id="org_name" type="text" class="validate"> -->
                {{ customer_form.organisation }}
                <label for="org_name">Organisation Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <!-- <input id="emp_id" type="text" class="validate"> -->
                {{ customer_form.employee_id }}
                <label for="emp_id">Employee Id</label>
            </div>
            <div class="input-field col s6">
               <!--  <input id="mob_no" type="text" class="validate"> -->
               {{ customer_form.mobile_number }}
                <label for="mob_no">Mobile Number</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn grey darken-1 waves-effect waves-light">
                    <span>File</span>
                    <!-- <input type="file"> -->
                    {{ customer_form.id_card }}
                </div>
                <div class="file-path-wrapper">
                    <input id="file" class="file-path validate" type="text">
                    
                </div>
            </div>
        </div>
        <div class="row grey darken-1 waves-effect waves-light right">
            <input type="submit" class="btn-large center">
        </div>
        <ul class="errorlist">
            {% for key, value in form.errors.items %}
            <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
            {% endfor %}
        </ul>
    </form>
</div>

<!-- <script src="{% static 'js/userform.js' %}"></script> -->
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>